
# Playwright
node_modules/
.auth
.network-cache

# Reports
src/report/allure-report/
src/report/allure-results/
src/report/logs/
src/report/test-results/
src/report/playwright-report/
src/report/blob-report/
src/report/playwright/.cache/

# Environment variables
.env

# VSCode
.vscode